:root {
  font-family:  Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  background-color: var(--dark-bg-color);


  --dark-bg-color: #17181f;
  --light-bg-color: #20212c;
  --very-light-bg-color: #2a2b39;
  --highlight-color: #f27ea5;
  --highlight-grad-1: #fda4a5;
  --highlight-grad-2: #ce69e2;
  
  --purple: #a96bdb;
  --aqua: #6fc4be;
  --green: #488465;
  --orange: #947456;
  --pink: #e279a3;
  --blue: #4d81b7;
  --yellow: #f3c06b;
  --red: #d43d3d;
}

#root {
  width: 100%;
}

* {
  box-sizing: border-box;

}

body {
  margin: 0;
  min-height: 100vh;
    background-color: var(--dark-bg-color);
    min-width: 100vw;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

input, textarea{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
