.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 16px;
    margin-bottom: 15px;
    color: rgb(206, 206, 206);
    background-color: var(--light-bg-color);
}

.logout-container{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.logout-container span{
    opacity: .8;
    transition: opacity .2s;
}

.logout-container span:hover{
    opacity: 1;

}
.icon {
    cursor: pointer;
    opacity: .8;
    transition: opacity .2s;
}

.icon:hover {
    opacity: 1;
}